@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

 

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 
p {
  font-size: 18px !important;
}
.s-soft{ 
  position: fixed;
  top: 290px ; 
  right: 14px;
  z-index: 1000; transition:all linear 0.2s ;
 }
 
 .s-item { 
   display:block; 
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60px;
   height: 60px;
   border-radius:10px;
   margin: 7px;
   color: white;
   font-size: 25px;
   line-height: 60px;
   text-align:center;
   transition:all linear 0.2s ;}
   .s-item i {
    text-align: center;
   }
 .facebook {background-color:  #3b5999;}
.twitter {background-color: #14171A;}
.print {background-color: #de3c7d;}
.pinterest{background-color: #BD081C;}
.linkedin{background-color: #0e76a8 ;}
.instagram{ background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );}  

.home-section .swiper-wrapper {
padding: 0px;
  }